<!doctype html>
<html>
<head>
<title>ふくざつな計算は任せて！</title>
</head>
<body>
    <header>
        <h1>ふくざつな計算は任せて！</h1>
    </header>
{% block content %}
<!-- ここにメインコンテンツを書く -->
{% endblock %}
<footer>
    <a><small>copyright</small> hcpmiyuki</a>
</footer>
</body>

</html>
<style>

body{
    width: 90%;
    margin: 0 auto;
    text-align: center;

}

.content{
    padding: 1.8rem 0;
    background-color: rgba(0, 191, 191, 0.7);
}

li{
    list-style: none;
}

form{
    padding: 0.9rem 0;
}
</style>
